body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Catolica.jpg');
    background-size:150%;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9); /* Fundo do conteúdo com opacidade */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h1, h2 {
    text-align: center;
    color: #333;
}

input[type="text"],
input[type="number"],
select {
    width: calc(100% - 16px); /* Ajuste para levar em conta o padding */
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: calc(100% - 16px); /* Ajuste para levar em conta o padding */
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#listaRelatorio {
    margin-top: 10px;
}

.item-categoria {
    margin-bottom: 5px;
    color: #333;
}
