body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

label {
    font-weight: bold;
}

input[type="number"] {
    padding: 8px;
    width: calc(100% - 100px); /* Para ajustar o tamanho do input conforme a tela */
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

p {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }

    input[type="number"] {
        width: calc(100% - 20px);
        max-width: none;
    }
}
